.container-tables {
  margin-top: 20px; }

.container-general {
  max-width: 1170px;
  margin: 0 auto; }

.container-primary {
  background: #474747; }

.container-secondary {
  background: rgba(0, 0, 0, 0.1); }

.container-light-1 {
  background: rgba(0, 0, 0, 0.04); }

.container-fullscreen {
  height: 80vh; }

.container-full-height {
  height: 100vh; }

.container-responsive {
  max-width: 1000px;
  display: block;
  margin: 0 auto; }

.container-margin {
  margin: 50px auto; }

.container-padding {
  padding: 50px; }

.container-padding-side {
  padding: 0 50px; }

.container-shadow {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.02); }

.container-shadow-2 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.14); }

.container-font-bold * {
  font-family: "Quicksand"; }

.container-no-row-padding .col-xs-12 {
  padding: 0; }

.global-container-rsp {
  max-width: 1130px; }

.container-fluid {
  max-width: none; }

.divider-light {
  background: rgba(0, 0, 0, 0.05);
  height: 2px; }

/* Extra Small Devices, Phones */
@media (max-width: 480px) {
  .container-padding {
    padding: 0; } }

.top {
  top: 0; }

.top-left {
  top: 0;
  left: 0; }

.top-right {
  top: 0;
  right: 0; }

.bottom-left {
  bottom: 0;
  left: 0; }

.bottom-right {
  bottom: 0;
  right: 0; }

.z-10 {
  z-index: 10; }

.z-20 {
  z-index: 20; }

.z-30 {
  z-index: 30; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.no-margin {
  margin: 0 !important; }

.margin-side-10 {
  margin: 0 10px; }

.margin-side-20 {
  margin: 0 20px; }

.row-margin {
  margin: 20px auto; }

.row-margin-md, .margin-row-md {
  margin: 20px auto; }

.row-margin-lg, .margin-row-lg {
  margin: 40px auto; }

.row-margin-sm, .margin-row-sm {
  margin: 10px auto; }

.no-padding {
  padding: 0 !important; }

.padding-side-10 {
  padding: 0 10px; }

.padding-side-20 {
  padding: 0 20px; }

.block-center {
  display: block;
  margin: 0 auto; }

* {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold; }

.pr-text-primary, .pr-text-pri {
  color: #474747; }

.pr-text-white {
  color: white; }

.pr-text-light-1 {
  color: rgba(0, 0, 0, 0.04); }

.pr-text-light-2 {
  color: rgba(0, 0, 0, 0.07); }

.pr-text-light-3 {
  color: rgba(0, 0, 0, 0.1); }

.pr-text-dark-1 {
  color: rgba(0, 0, 0, 0.3); }

.pr-text-dark-2 {
  color: rgba(0, 0, 0, 0.4); }

.pr-text-dark-3 {
  color: rgba(0, 0, 0, 0.5); }

.pr-text-black {
  color: black; }

.pr-text-sm {
  font-size: 0.5em; }

.pr-text-md {
  font-size: 1em; }

.pr-text-md-2 {
  font-size: 1.5em; }

.pr-text-lg {
  font-size: 2em; }

.pr-text-mlg {
  font-size: 3em; }

.pr-text-xlg {
  font-size: 4em !important; }

.pr-text-spaced {
  letter-spacing: 2px; }

.pr-text-weak-underline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

a:hover {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); }

a:focus {
  color: #474747 !important;
  border-bottom: none; }

.text-primary {
  color: #474747; }

.text-light-1 {
  color: rgba(0, 0, 0, 0.04); }

.text-light-2 {
  color: rgba(0, 0, 0, 0.07); }

.text-light-3 {
  color: rgba(0, 0, 0, 0.1); }

.text-dark-1 {
  color: rgba(0, 0, 0, 0.3); }

.text-dark-2 {
  color: rgba(0, 0, 0, 0.4); }

.text-dark-3 {
  color: rgba(0, 0, 0, 0.5); }

.text-xlg {
  font-size: 4em !important; }

.text-lg {
  font-size: 2em; }

.text-md {
  font-size: 1em; }

.text-sm {
  font-size: 0.5em; }

.text-white {
  color: white !important; }

.text-light {
  color: #BBBBBB; }

.paragraph {
  line-height: 1.7em;
  max-width: 600px;
  display: block; }

.paragraph-lg {
  line-height: 2.2em; }

.paragraph-no-resp {
  max-width: 100% !important; }

.cursor-pointer {
  cursor: pointer; }

.str-upper {
  text-transform: uppercase; }

.str-lower {
  text-transform: lowercase !important; }

.str-cap, .str-capitalize, .str-capitalize * {
  text-transform: capitalize; }

@media screen and (max-width: 600px) {
  .text-center-sm {
    text-align: center; }
  .text-center-xs {
    text-align: center; } }

.pr-btn {
  border: none;
  text-align: center;
  padding: 10px 20px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .pr-btn[disabled="disabled"]:hover, .pr-btn[disabled="disabled"] {
    opacity: 0.5;
    box-shadow: none; }
  .pr-btn .active {
    background-color: #474747;
    box-shadow: none;
    color: white; }
  .pr-btn-pri {
    background: #474747;
    color: white; }
    .pr-btn-pri:hover {
      box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5); }
  .pr-btn-trp {
    background: transparent; }
    .pr-btn-trp:hover {
      background: #474747;
      color: white; }
  .pr-btn-white {
    background: white;
    color: #474747; }
  .pr-btn-shdw {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24); }
  .pr-btn-emp {
    letter-spacing: 2px;
    text-transform: uppercase; }
  .pr-btn-plain {
    background: transparent; }
  .pr-btn-brd {
    background: transparent;
    color: #474747;
    border: 2px solid #474747; }
    .pr-btn-brd:hover {
      background: #474747;
      color: white; }
  .pr-btn-undl {
    background: transparent;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5); }
    .pr-btn-undl:hover {
      background: rgba(0, 0, 0, 0.5);
      color: white; }
  .pr-btn-sec {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5); }
    .pr-btn-sec:hover {
      background: #474747;
      color: white; }
  .pr-btn-sm {
    font-size: 1em; }
  .pr-btn-md {
    font-size: 1.5em; }
  .pr-btn-lg {
    font-size: 2em; }
  .pr-btn-lng {
    padding: 10px 60px !important; }
  .pr-btn-upload {
    cursor: pointer; }

.background-white, .bg-white {
  background: white; }

.background-gray {
  background: rgba(215, 215, 215, 0.29); }

.background-light-1 {
  background: rgba(0, 0, 0, 0.04); }

.background-light-2 {
  background: rgba(0, 0, 0, 0.07); }

.background-light-3 {
  background: rgba(0, 0, 0, 0.1); }

.background-dark-1 {
  background: rgba(0, 0, 0, 0.3); }

.background-dark-2 {
  background: rgba(0, 0, 0, 0.4); }

.background-dark-3 {
  background: rgba(0, 0, 0, 0.5); }

.background-dark-4 {
  background: #4A4A4A; }

.background-pri {
  background: #474747 !important; }

.background-sec {
  background: rgba(0, 0, 0, 0.1); }

.background-inh {
  background: inherit; }

.background-dark {
  background: rgba(0, 0, 0, 0.7); }

.background-image-sm {
  height: 100px; }

.background-image-md {
  height: 300px; }

.background-image-lg {
  height: 400px; }

.background-image-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center; }

/*
/ Widths
*/
.width-5 {
  width: 5% !important; }

.width-10 {
  width: 10% !important; }

.width-15 {
  width: 15% !important; }

.width-20 {
  width: 20% !important; }

.width-25 {
  width: 25% !important; }

.width-50 {
  width: 50% !important; }

.width-60 {
  width: 60%; }

.width-70 {
  width: 70%; }

.width-80 {
  width: 80%; }

.width-90 {
  width: 90%; }

.width-100 {
  width: 100%; }

@media screen and (max-width: 600px) {
  .width-100-xs {
    width: 100% !important; }
  .width-50-xs {
    width: 50%; }
  .margin-0-xs {
    margin: 0; }
  .padding-0-xs {
    margin: 0; } }

.table-title {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Quicksand";
  padding: 15px; }

.table {
  display: table; }
  .table .table-cell {
    position: relative;
    display: table-cell;
    vertical-align: middle; }
  .table .table-values {
    height: 150px; }
  .table .table-value {
    font-size: 1.5em;
    color: gray;
    text-align: center; }
  .table .value-sub {
    font-size: 1em;
    position: absolute;
    right: 0;
    left: 0;
    font-weight: normal;
    text-align: center; }
  .table .table-option {
    position: relative;
    top: 0;
    right: 0;
    float: right; }

.table-transaction {
  border-collapse: separate;
  border-spacing: 0 5em;
  border-spacing: 0;
  table-layout: fixed; }
  .table-transaction .table-transaction-title {
    padding: 10px;
    border: none;
    font-weight: bold; }
  .table-transaction .table-row-show-on-hover {
    opacity: 0; }
  .table-transaction .table-row:hover .table-row-show-on-hover {
    opacity: 1; }
  .table-transaction .transaction-image {
    width: 120px; }

/* Extra Small Devices, Phones */
@media (max-width: 480px) {
  .table-transaction .table-cell {
    display: table-row !important;
    margin: 10px;
    padding: 10px; }
  .table-value {
    margin: 5px; }
  .value-sub {
    display: none; } }

@media screen and (max-width: 600px) {
  .table-row-xs {
    display: table-row !important; } }
