$namespace: 'pr';

// Base Colors
$primary-color: #474747;
$primary-color-bright: #BD9655;
$secondary-color: rgba(0,0,0,0.1);
$browser-color: #cdcdcd;

// Light Colors
$light-1: rgba(0,0,0,0.04);
$light-2: rgba(0,0,0,0.07);
$light-3: rgba(0,0,0,0.1);

// Dark Colors
$dark-1: rgba(0,0,0,0.3);
$dark-2: rgba(0,0,0,0.4);
$dark-3: rgba(0,0,0,0.5);
$dark-4: #4A4A4A;

// Signal Colors
$success: #97D7A7;
$alert: #FFE181;
$danger: #FF8788;

// Font Families
$normal: 'Quicksand';
$thin: 'Quicksand';
$bold: 'Quicksand';
$letter-spacing: 2px;

// Paddings
$space-sm: 10px;
$space-md: 20px;
$space-lg: 30px;
$space-lng: 20px 60px;

// Media Queries
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

// Speeds
$slow: 0.35s;
$medium: 0.25s;
$fast: 0.1s;
