.container-tables {
	margin-top: 20px;
}
.container-general {
	// width: 90%;
	max-width: 1170px;
	margin: 0 auto;
}
.container-primary {
	background: $primary-color;
}
.container-secondary {
	background: $secondary-color;
}
.container-light-1 {
	background: $light-1;
}
.container-fullscreen {
	height: 80vh;
}
.container-full-height {
	// height: 80vh;
	height: 100vh;
}
.container-responsive {
	max-width: 1000px;
	// BLOCK CENTER
	display: block;
	margin: 0 auto;
}
.container-margin {
	margin: 50px auto;
}
.container-padding {
	padding: 50px;
}
.container-padding-side {
	padding: 0 50px;
}
.container-shadow {
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.02);
}
.container-shadow-2 {
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14);
}
.container-font-bold * {
	font-family: $bold;
}
.container-no-row-padding .col-xs-12 {
	padding: 0;
}
.global-container-rsp {
    max-width: 1130px;
}
.container-fluid {
    max-width: none;
}
// .container {
//     padding: 50px 0;
// }
.divider-light {
	background: rgba(0,0,0,0.05);
	height: 2px;
}

/* Extra Small Devices, Phones */
@media (max-width: 480px) {
	.container-padding {
		padding: 0;
	}
}
