.no-margin {
  margin: 0 !important;
}
.margin-side-10 {
  margin: 0 10px;
}
.margin-side-20 {
  margin: 0 20px;
}
.row-margin
{
  margin: 20px auto;
}
.row-margin-md, .margin-row-md
{
  margin: 20px auto;
}
.row-margin-lg, .margin-row-lg
{
  margin: 40px auto;
}
.row-margin-sm, .margin-row-sm
{
  margin: 10px auto;
}
