.top {
	top: 0;
}
.top-left
{
	top: 0;
	left: 0;
}
.top-right
{
	top: 0;
	right: 0;
}
.bottom-left
{
	bottom: 0;
	left: 0;
}
.bottom-right
{
	bottom: 0;
	right: 0;
}
// Z Indexes
.z-10
{
	z-index: 10;
}
.z-20
{
	z-index: 20;
}
.z-30
{
	z-index: 30;
}
