.background-white, .bg-white {
	background: white;
}
.background-gray, {
	background: rgba(215,215,215,0.29);
}
.background-light-1 {
	background: $light-1;
}
.background-light-2 {
	background: $light-2;
}
.background-light-3 {
	background: $light-3;
}
.background-dark-1 {
	background: $dark-1;
}
.background-dark-2 {
	background: $dark-2;
}
.background-dark-3 {
	background: $dark-3;
}
.background-dark-4 {
	background: $dark-4;
}
.background-pri {
	background: $primary-color !important;
}
.background-sec {
	background: $secondary-color;
}
.background-inh {
	background: inherit;
}
.background-dark {
	background: rgba(0,0,0,0.7);
}
// Background images
.background-image {
	&-sm {
		height: 100px;
	}
	&-md {
		height: 300px;
	}
	&-lg {
		height: 400px;
	}
	&-cover {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center;
	}
}
