// Base
.#{$namespace}-btn {
	border: none;
	text-align: center;
	padding: 10px 20px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;

	&[disabled="disabled"]:hover, &[disabled="disabled"] {
		opacity: 0.5;
		box-shadow: none;
	}

	.active {
	    background-color: $primary-color;
	    box-shadow: none;
	    color: white;
	}

  // Primary
  &-pri {
  	background: $primary-color;
  	color: white;

  	&:hover {
  		box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.50);
  	}
  }
  // Transparent
  &-trp {
  	background: transparent;

  	&:hover {
  		background: $primary-color;
  		color: white;
  	}
  }
  // White
  &-white {
  	background: white;
  	color: $primary-color;
  }
  // Shadow
  &-shdw {
  	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.24);
  }
  // Emphasized
  &-emp {
  	// font-family: $bold;
  	letter-spacing: $letter-spacing;
  	text-transform: uppercase;
  }
  // Plain
  &-plain {
  	background: transparent;
  }
  // Bordered
  &-brd {
  	background: transparent;
  	color: $primary-color;
  	border: 2px solid $primary-color;

  	&:hover {
  		background: $primary-color;
  		color: white;
  	}
  }
  // Bordered
  &-undl {
  	background: transparent;
  	color: $dark-3;
  	border-bottom: 2px solid $dark-3;

  	&:hover {
  		background: $dark-3;
  		color: white;
  	}
  }
  // Secondary
  &-sec {
  	background: $secondary-color;
  	color: $dark-3;

  	&:hover {
  		background: $primary-color;
  		color: white;
  	}
  }
  // Small
  &-sm {
  	font-size: 1em;
  }
  // Medium
  &-md {
  	font-size: 1.5em;
  }
  // Large
  &-lg {
  	font-size: 2em;
  }
  // Long
  &-lng {
  	padding: 10px 60px !important;
  }
  // Upload
  &-upload {
  	cursor: pointer;
  }

}
