// General

.table-title {
	color: rgba(0, 0, 0, 0.5);
	// font-size: 1em;
	font-family: $bold;
	padding: 15px;
}
.table {

  display: table;

	.table-cell {
		position: relative;
    display: table-cell;
    vertical-align: middle;
	}
	.table-values {
		height: 150px;
	}
	.table-value {
		font-size: 1.5em;
		color: gray;
		text-align: center;
	}
	.value-sub {
		font-size: 1em;
		position: absolute;
		right: 0;
		left: 0;
		font-weight: normal;
		text-align: center;
	}
	.table-option {
		position: relative;
		top: 0;
		right: 0;
		float: right;
	}
}

// Transaction Table

.table-transaction {

	border-collapse: separate;
	border-spacing: 0 5em;
	border-spacing: 0;
	table-layout: fixed;

	// * {
	//   font-weight: bold;
	// }
	.table-transaction-title {
		padding: 10px;
		border: none;
		font-weight: bold;
	}
	.table-row:nth-of-type(even) {
		// background: rgba(0,0,0,0.03);
	}
	.table-row-show-on-hover {
		opacity: 0;
	}
	.table-row:hover .table-row-show-on-hover {
		opacity: 1;
	}
	.transaction-image {
		width: 120px;
	}
}

// Media Queries

/* Extra Small Devices, Phones */
@media (max-width: 480px) {
	.table-transaction .table-cell {
		display: table-row !important;
		margin: 10px;
		padding: 10px;
	}
	.table-value {
		margin: 5px;
	}
	.value-sub {
		display: none;
	}
}
@media screen and (max-width: 600px)
{
    .table-row-xs
    {
        display: table-row !important;
    }
}
