* {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

// Base
.#{$namespace}-text {

	// Primary
	&-primary, &-pri {
		color: $primary-color;
	}
	&-white {
		color: white;
	}
	// Light
	&-light-1 {
		color: $light-1;
	}
	&-light-2 {
		color: $light-2;
	}
	&-light-3 {
		color: $light-3;
	}
	// Dark
	&-dark-1 {
		color: $dark-1
	}
	&-dark-2 {
		color: $dark-2
	}
	&-dark-3 {
		color: $dark-3
	}
	&-black {
		color: black;
	}
	// Sizes
	&-sm {
		font-size: 0.5em;
	}
	&-md {
		font-size: 1em;
	}
	&-md-2 {
		font-size: 1.5em;
	}
	&-lg {
		font-size: 2em;
	}
	&-mlg {
		font-size: 3em;
	}
	&-xlg {
		font-size: 4em !important;
	}
	// Font Family
	// &-bold {
	// 	font-family: $bold !important;
	// }
	// &-thin {
	// 	font-family: $thin !important;
	// }
	// &-normal {
	// 	font-family: $normal !important;
	// }
	&-spaced {
		letter-spacing: $letter-spacing;
	}
	// &-emp {
	// 	font-family: $bold;
	// 	letter-spacing: $letter-spacing;
	// 	text-transform: uppercase;
	// }
	// &-no-underline {
	// 	text-decoration: none;
	// }
	&-weak-underline {
		border-bottom: 1px solid $dark-1;
	}
}
a:hover {
	text-decoration: none !important;
	color: $dark-3;
	border-bottom: 1px solid $dark-2;
}
a:focus {
	color: $primary-color !important;
	border-bottom: none;
}
// Primary
.text-primary {
	color: $primary-color;
}
// Light
.text-light-1 {
	color: $light-1;
}
.text-light-2 {
	color: $light-2;
}
.text-light-3 {
	color: $light-3;
}
// Dark
.text-dark-1 {
	color: $dark-1
}
.text-dark-2 {
	color: $dark-2
}
.text-dark-3 {
	color: $dark-3
}
// Sizes
.text-xlg {
	font-size: 4em !important;
}
.text-lg {
	font-size: 2em;
}
.text-md {
	font-size: 1em;
}
.text-sm {
	font-size: 0.5em;
}
// Custom Colors
.text-white {
	color: white !important;
}
.text-light {
	color: #BBBBBB;
}
// Paragraphs
.paragraph {
	line-height: 1.7em;
	max-width: 600px;
	display: block;
}
// Paragraph lg
.paragraph-lg {
	line-height: 2.2em;
}
// Not responsive
.paragraph-no-resp {
	max-width: 100% !important;
}
// Cursors
.cursor-pointer {
	cursor: pointer;
}
// Text Transforms
.str {
	&-upper {
		text-transform: uppercase;
	}

	&-lower {
		text-transform: lowercase !important;
	}

	&-cap, &-capitalize, &-capitalize * {
		text-transform: capitalize;
	}
}


@media screen and (max-width: 600px)
{
  .text-center-sm
  {
      text-align: center;
  }
  .text-center-xs
  {
      text-align: center;
  }
}
