/*
/ Widths
*/
.width-5
{
    width: 5% !important;
}
.width-10
{
    width: 10% !important;
}
.width-15
{
    width: 15% !important;
}
.width-20
{
    width: 20% !important;
}
.width-25
{
    width: 25% !important;
}
.width-50
{
    width: 50% !important;
}
.width-60
{
    width: 60%;
}
.width-70
{
    width: 70%;
}
.width-80
{
    width: 80%;
}
.width-90
{
    width: 90%;
}
.width-100
{
    width: 100%;
}
@media screen and (max-width: 600px)
{
    .width-100-xs
    {
        width: 100% !important;
    }
    .width-50-xs
    {
        width: 50%;
    }
    .margin-0-xs
    {
        margin: 0;
    }
    .padding-0-xs
    {
        margin: 0;
    }
}
